apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: triton-inference
  labels:
    app: grafana
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
    nodePort: 30030
  selector:
    app: grafana

